@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
};

.nav-link {
  @apply hover:text-blue-500 transition font-medium;
}

.btn-outline {
  @apply border px-4 py-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition;
}

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition;
}

